/***************

COMMON

***************/

body {
  font-family: "monospace", sans-serif;
}

.font-primary {
  color:rgb(9, 183, 183);
}

.title-icon {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h2 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}

a.font-black {
  color: black !important;
}

/***************

About

***************/

#about {
  margin: 40px auto;
  max-width: 400px;
  text-align: center;
}

#about img {
  border-radius: 50%;
  width: 140px;
  margin-bottom: 10px;
}

#about .name {
  font-size: 19px;
}

#about .vocation {
  font-size: 17px;
  color: rgba(128, 128, 128, 0.645);
  margin-bottom: 10px;
}

#about .skills {
  color: rgb(9, 183, 183);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

#about .email {
  margin-top: 14px;
  font-size: 15px;
}

#about .icons {
  margin-top: 20px;
  font-size: 30px;
}

#about .icons .bi-github {
  color: black;
}

#about .icons .bi-linkedin {
  color: #0A66C2;
}

/********************

PROJECTS

********************/

#projects {
  margin: 60px auto;
  width: 80%;
}

#projects h2 {
  text-align: center;
}

#proejcts .card img {
  width: 100%;
}

#projects .card-title {
  font-weight: bold;
}