/***************

COMMON

***************/

body {
  font-family: "monospace", sans-serif;
}

.font-primary {
  color:rgb(9, 183, 183);
}

.title-icon {
  font-size: 20px;
  font-weight: bold;
}

/***************

About

***************/

#about {
  margin: 40px auto;
  max-width: 400px;
  text-align: center;
}

#about img {
  border-radius: 50%;
  width: 140px;
  margin-bottom: 10px;
}

#about .name {
  font-size: 19px;
}

#about .vocation {
  font-size: 17px;
  color: rgba(128, 128, 128, 0.645);
  margin-bottom: 10px;
}

#about .skills {
  color: rgb(9, 183, 183);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

#about .email {
  margin-top: 14px;
  font-size: 15px;
  font-weight: 600;
}

#about .icons {
  margin-top: 20px;
  font-size: 30px;
}

#about .icons a {
  color: rgb(9, 183, 183);
}